<div style="background-color: #558C89; height:7.8vh;width: 100%; padding: 0; margin: 0">
<div style="margin-right:44%; ">
  <a target="_blank" href="https://www.pinterest.com"><img src="../assets/pinterest.png" height="100%" width="4%;"
                                                           style="float:right; margin-right:5px;margin-top: 1%;"></a>
  <a target="_blank" href="https://www.twitter.com"><img src="../assets/twitter.png" height="100%" width="4%;"
                                                         style="float:right; margin-right:5px;margin-top: 1%;"></a>
  <a target="_blank" href="https://www.googleplus.com"><img src="../assets/g+.png" height="100%" width="4%;"
                                                            style="float:right; margin-right:5px;margin-top: 1%;"></a>
  <a target="_blank" href="https://www.facebook.com"><img src="../assets/fb.png" height="100%" width="4%;"
                                                          style="float:right; margin-right:5px;margin-top: 1%;"></a>
</div>
</div>
