<div class="container-fluid" style="padding: 0; margin: 0; height: 100%;">
  <div class="row" style="background-color: white; padding: 0; margin: 0;height: 100%;">
    <div class="jumbotron" style="height: 90%; width: 60%; margin: 50px auto auto auto">
     <div style="text-align: center; ">
       <div class="row" style="margin-bottom: 20px">
         <p style="display: inline;">Your pick: &nbsp;</p>
       <button class="btn btn-primary" (click)="numberOfPlayer(1)"
               style="display: inline;font-size: 20px; margin: 10px">&nbsp;X&nbsp;</button>


      <button class="btn btn-primary" (click)="numberOfPlayer(2)"
              style="display: inline; font-size: 20px; margin:10px">&nbsp;O&nbsp;</button>
       </div>
       <p>Invite: &nbsp;<input type="text" name="email" placeholder="Email" [(ngModel)]="myMail"
                                onfocus="this.placeholder = ''">

         &nbsp;&nbsp;
         <button class="btn btn-success" type="submit" style="height: 40px; margin-bottom: 5px;font-size: 20px;"
         (click)="sendmail()">Send</button></p>
       <p style="width: 100%; height: 45px;" *ngIf="!players"></p>
       <button class="btn btn-danger" style="font-size: 20px; margin-left: 50px" routerLink="/">Back</button>
     </div>
    </div>
    <div style="float:right; margin: 10px 20px;">

    </div>

  </div>
</div>
