
<div class="container-fluid" >
  <div class="row" style="padding: 0; margin: 0;">
  <app-header></app-header>
  </div>
  <div class="row" style="height: 75vh;">
    <div class="col-lg-2" style="background-color: red; height: 100%; padding: 0;margin: 0;">
    <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10" style="background-color: mintcream;height: 100%; padding: 0; margin: 0;">
      <router-outlet></router-outlet>
    </div>
  </div>
    <!--<div class="row no-gutters" style="background-color:#E6E6FA">-->
      <!---->
  <!--<app-sidebar></app-sidebar>-->
      <!--</div>-->
        <!--<div class="col-md-10">-->
  <!--<app-main-view></app-main-view>-->
      <!--</div>-->
    <!--</div>-->
  <div class="row">
    <div class="col-lg-12" style="margin: 0;padding: 0;">
    <app-footer></app-footer>
    </div>
  </div>

  </div>


