<!--<ul class="nav navbar-nav">-->
  <!--<li class="active container-fullwidth" style="width:100%;"><a style="text-align:center; ;color:white"  href="#" >Tic Tac Toe</a></li>-->
  <!--<li class="active container-fullwidth"  style="width:100%;"><a  style="text-align:center; color:white" href="#" >Sudoku</a></li>-->
  <!--<li class="active container-fullwidth"  style="width:100%"><a  style="text-align:center; color:white" href="#" >Tetris</a></li>-->
  <!--<li class="active container-fullwidth"  style="width:100%"><a style="text-align:center; color:white" href="#" >Chess</a></li>-->
  <!--<li class="active container-fullwidth"  style="width:100%"><a  style="text-align:center; color:white" href="#" >Other</a></li>-->
<!--</ul>-->


<div class="sidenav">
  <p><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></p>
  <p><a routerLinkActive="active" routerLink="/tictactoe">Tic Tac Toe</a></p>
  <p><a routerLinkActive="active" routerLink="/chess">Chess</a></p>
  <p><a routerLinkActive="active" routerLink="/sudoku">Sudoku</a></p>
  <p><a routerLinkActive="active" routerLink="/tetris">Tetris</a></p>
</div>
