<div class="container-fluid" style="padding: 0; margin: 0; height: 100%;background-color: white;">
  <div class="row" style="padding: 0%; margin: 0 ;height: 45%;">
<div class="col-lg-4 offset-lg-4" style="height: 80%;margin-top: 3%">
  <div style="background-color: white; border: 1px solid black; height: 100%; width: 100%;">
    <a routerLink="/tictactoe"> <img src="../assets/tictactoe.png" height="100%" width="100%" alt="tictactoe"> </a></div>
</div>
    <div class="col-lg-4 offset-lg-2" style="height: 80%; margin-top: 3%;">
      <div style="background-color: white; border: 1px solid black;height: 100%; width: 100%;">
        <a routerLink="/chess"><img src="../assets/chess.jpg"  height="100%" width="100%" alt="chess"> </a></div>
    </div>
    <div class="col-lg-4 offset-lg-2" style="height: 80%;margin-top: 3%;">
      <div style="background-color: white; border: 1px solid black;height: 100%; width: 100%;">
       <a routerLink="/sudoku"> <img src="../assets/sudoku.jpg"  height="100%" width="100%" alt="sudoku"></a>
      </div>
    </div>
  </div>
<div style="height: 10%"></div>
  <div class="row" style="padding: 0; margin: 0;height: 45%">
    <div class="col-lg-4 offset-lg-4" style="height: 80%;">
      <div style="background-color: white; border: 1px solid black; height: 100%; width: 100%;">
        <a routerLink="/tetris"> <img src="../assets/puzzles.jpg"  height="100%" width="100%" alt="puzzles"></a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-2" style="height: 80%;">
      <div style="background-color: white; border: 1px solid black; height: 100%; width: 100%;">
        <a routerLink="/chess"> <img src="../assets/poker.png"  height="100%" width="100%" alt="xbox"></a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-2" style="height: 80%;">
      <div style="background-color: white; border: 1px solid black; height: 100%; width: 100%;">
        <a routerLink="/chess"> <img src="../assets/dice.png"  height="100%" width="100%" alt="dice"></a>
      </div>
    </div>
  </div>
</div>
